# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Xcode
build
*.xcodeproj
Battleship.1

# Eclipse
.cproject
.project
/Debug
/Release

# Visual Studio
Battleship.vcxproj
Battleship.vcxproj.filters
Battleship.vcxproj.user

# CodeBlocks
battleship.cbp

